@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

.custom-shadow {
  box-shadow: 0 0 5px rgba(235, 218, 235, 0.901);
}

.custom-scrollbar {
  /* overflow-y: scroll; */
  /* scrollbar-width: thin; */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}